body {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.site-logo {

  display: flex;
  align-items: center;
  gap: 8px;

  color: #F07F2E;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.5px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .site-logo {
    font-size: 20px;
  }
}

.page-nav {
  display: flex;
  gap: 40px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .page-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.page-nav a {
  text-decoration: none;
  color: #2C2C2C;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .page-nav a {
    font-size: 12px;
    line-height: 20px;
  }
}

.page-nav a:hover {
  color: #F07F2E;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .page-header {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.container {
  width: 944px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .container {
    width: 290px;
  }
}

.cat-header {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.5px;
  color: #2C2C2C;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .cat-header {
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    width: 290px;
  }
}

.cat-list {
  display: flex;
  gap: 40px;
  justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .cat-list {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
}

.cat-img {
  margin-bottom: 16px;
  border-radius: 16px 16px 0px 0px;
}

.cat-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #2C2C2C;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .cat-title {
    text-align: center;
  }
}

.cat-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #2C2C2C;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .cat-desc {
    text-align: center;
    width: 290px;
  }
}

.section {
  margin-bottom: 60px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .section {
    margin-bottom: 20px;
  }
}

.cat-family-head {
  margin-bottom: 8px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .cat-family-head {
    text-align: center;
    width: 290px;
  }
}

.cat-family-parach {

  width: 604px;
  height: 48px;
  margin-bottom: 40px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #2C2C2C;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .cat-family-parach {
    text-align: center;
    width: 290px;
    margin-bottom: 70px;
  }
}

.cat-family-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .cat-family-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.cats-family {
  margin-bottom: 60px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .cats-family {
    margin-bottom: 30px;
  }
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 15px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .footer-section {
    align-items: center;
  }
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .footer-social {
    align-items: center;
  }
}

.footer {

  background: #0F3F3C;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }
}

.paragraph-footer {

  width: 344px;
  height: 48px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .paragraph-footer {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    width: 100px;
  }
}

.paragraph-social {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  margin-bottom: 8px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .paragraph-social {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
  }
}

.paragraph-social-list {
  display: flex;
  gap: 33.33px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .paragraph-social-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}

.heroy {
  background-image: url('./img/herofon.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 912px;
  min-height: 480px;
  border-radius: 16px;
  margin-bottom: 44px;
  position: relative;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .heroy {
    max-width: 258px;
    min-height: 570px;
    margin-bottom: 22px;
  }
}

.header-hero {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 1.25px;
  color: #FFFFFF;
  margin-bottom: 8px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .header-hero {
    font-size: 28px;
    line-height: 28px;
  }
}

.header-hero-paragraph {

  width: 384px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.5px;

  color: #FFFFFF;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .header-hero-paragraph {
    font-size: 12px;
    line-height: 20px;
    width: 250px;
  }
}

.block-hero {
  background: #0F3F3C;
  border-radius: 16px;
  padding: 24px;
  width: 400px;
  position: absolute;
  top: 258px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .block-hero {
    width: 215px;
  }
}

/*@media screen and (min-width: 320px) and (max-width: 479px) {
  @media screen and (min-width: 480px) and (max-width: 767px) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
  */